.contactsec{
    margin-top: 5rem;
    width: 100%;
    height:90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.contact {
    width: 90%;
    max-width: 700px;;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    background: linear-gradient(180deg, rgba(60,9,108,0.49000000953674316) 4%, rgba(60,9,108,0.28999999165534973) 38%, rgba(4,102,200,0.7099999785423279));
    border-radius: 1rem;
    transition: 0.5s;
    box-shadow: 7px 7px 35px -9px rgba(0,0,0,0.36);
    
}

.form-group {
    
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 600;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

.form-group label{
    margin-bottom: 1%;
    font-size: 1.2rem;
}

.form-group input, .form-group textarea{
    width: 100%;
    height: 3rem;
    padding: 5px;
    font-size: 18px;
    border: none;
    margin-top: 1%;
    border-radius: 0.5rem;
    
}

.form-group textarea{
    height: 13rem;
    margin-bottom: 5%;
    resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

button{
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:  rgba(0,24,69,1);
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.5s;
    box-shadow: 7px 7px 35px -9px rgba(0,0,0,0.36);
    border: none;
    margin: auto;
    margin-bottom: 5%;
    outline:none;
}

button:hover{
    background: rgba(38, 7, 68, 0.829);
    
    font-size: 2rem;
}

#status {
    width: 90%;
    max-width: 500px;
    text-align: center;
    padding: 10px;
    margin: 2rem auto;
    border-radius: 8px;
  }
  #status.success {
    background-color: rgb(163, 233, 58);
    animation: status 4s ease forwards;
  }
  #status.error {
    background-color: rgb(180, 31, 31);
    color: white;
    animation: status 4s ease forwards;
  }
  @keyframes status {
    0% {
      opacity: 1;
      pointer-events: all;
    }
    90% {
      opacity: 1;
      pointer-events: all;
    }
    100% {
      opacity: 0;
      pointer-events: none;
    }
  }